* {
  box-sizing: border-box;
}
  /* Style the body */
body {
  margin: 0px;
  background-color:white;
  padding: 0px 0px; 
}
.header {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 350px;
  margin-bottom:-7px; 
} 

h1 {
  padding-top: 0px;
  text-align:center; 
  color: purple;
  margin: 30px;
  word-break:break-all;
 	/* text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135; */
	font: 50px 'merriweather';
}
h2{
  color: purple;
  text-align: center;
  margin: 40px 40px;
  font:40px 'merriweather';
 }
 h3{
  text-align:center; 
  /* padding:20px; */
  font: 25px 'merriweather';
}
h4{
  text-align:justify; 
  color: black;
  margin:15px;
  font: 25px 'merriweather';
}

h5{
  text-align: center;
  font-size: 20px;
  margin:20px;
  font: 15px 'merriweather';
}
h6{
  text-align:center; 
  color:purple;
  margin: 10px;
  font: 20px 'merriweather';
}
p{
text-align: center;
font-size: 20px;
font: 15px 'merriweather';
}


  /* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: whitesmoke;
  font:  bold 20px 'minion';
  margin: 0px 2px;
}
  /* Style the navigation bar links */
 #b {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid purple;
    border-right: 0px solid purple;
    width:225px;
 }
    #b2 {
      float: left;
      color:black;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      border: 1px solid purple;
      width:225px;
      }   
    
#b1 {
  float: left;
  /* display: block; */
  color:black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border: 1px solid purple;
  border-top: 0px solid purple;
  width:225px;
 }
  /* Change color on hover */
/* #b:hover {
  background-color:#aa46b0;
}  */
/* from here menu*/

.dropdown {
  float: left;
  overflow: hidden;
}

 .dropbtn {
  font:  bold 20px 'minion';  
  border: 1px solid purple;
  border-right: 0px solid purple;
  color:black;
  padding: 14px 20px;
  /* margin:14px 16px; */
  background-color: whitesmoke;
  font-family: inherit;
  margin: 0;
  width:225px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #aa46b0;
}

.dropdown-content {
  display: none;
  font-size: 15px;
  position: absolute;
  background-color: whitesmoke;
  /* min-width: 160px; */
  width: 225px;
}

.dropdown:hover .dropdown-content {
  display:block
}
  
.searchbar{
  background-image: url('/images/searchicon.png');
  background-repeat: no-repeat;
  background-position:left; 
  background-size:contain;
  width: 676px;
  box-sizing: border-box;
  border: 1px solid purple;
  border-top: 0px solid purple;
  color:black;
  background-color: whitesmoke;
  padding: 14px 50px;
  font:  bold 20px 'minion';
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* .searchbar:focus {
  width:100%;
} */

/* Style the main */
.main {   
  /* -ms-flex: 70%; IE10 */
  /* flex: 70%; */
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-color: white;
  padding: 20px;
}

  /* Main Row */
.row {
  margin: 8px -16px;
}

  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
 }
  /* Add padding BETWEEN each column */
.column {
  padding: 8px;
}
  /* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}
  /* Content */
.content {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}   

#a {
  color:purple;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  background-color:whitesmoke;
  border: 1px solid purple;
  cursor: pointer;
  width: 300px;
  font:  bold 20px 'minion';
  display: inline-block;
}
#c {
  /* display: block; */
  color:black;
  text-align: center;
  padding: 15px 50px;
  border: 1px solid purple;
  text-decoration: none;
  background-color:whitesmoke;
  cursor: pointer;
  font:  bold 20px 'minion';
  margin-left: 20px;
}
/* imag;es in category_Page */
.storyimg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100%;
  height:350px;
  margin: 0px;  
}
.imageloading{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:Auto;
  height:500px;  
  margin:20px;
}
  
             
  
  /* Responsive layout */

@media screen and (max-width: 1365px) {
         #b {
              /* float: none; */
              width: 25%;
              margin-left: 37%;
              border: 1px solid purple;
              border-bottom: 0px solid purple;
              margin-top: 0px;
                     
            }
        }
@media screen and (max-width: 1365px) {
          #b2 {
               /* float: none; */
               width: 25%;
               margin-left: 37%;
               border: 1px solid purple;
               border-bottom: 1px solid purple;
               margin-top: 0px;
                      
             }
         }
@media screen and (max-width: 1365px) {
        .dropdown  {
              display :none;
            }
        }
@media screen and (max-width: 1365px) {
         .searchbar{
              /* float: none; */
              width: 25%;
              margin-left: 37%;
              border: 1px solid purple;
              }
        }

@media screen and (max-width: 1365px) {
        .searchbar:focus {
              width:25%;
              }
        }

@media screen and (max-width:700px) {
          .column {
              width: 100%;
            }
        }
@media screen and (max-width: 1200px) {
          .header {
              height: 250px;
              
                } 
            }
 @media screen and (max-width: 900px) {
              .header {
               height: 150px;                    
                }
              }
@media screen and (max-width: 600px) {
           .header {
              height:100px;
                } 
            }
       
        
          
          
 
          
           
          